body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: white;
}

header{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: pixelation, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    background: linear-gradient(to left,#780E89, #370E89, #123D8F );
    z-index: 2;

}

header img{
    height: 65px;
    width: 60px;
}

#icon-principales{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contenido{
    background: url(/public/assets/UI/5.png);
    background-size: cover;
    width: 100%;
    min-height: 1500px;
    height: 100%;
    display: flex;
    color: white;
    text-align: center;
    overflow: hidden;
}

#menu-admin{
    height: 100%;
    background: linear-gradient(to top,#780E89, #370E89, #123D8F );
    display: flex;
    /* display: none; */
    flex-direction: column;   
    align-items: center;

}

.borde-arcoiris{
    border: 10px solid;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    /* border-top:none; */
	border-bottom: none;
    border-left: none;
    border-right: none;
    animation: 10s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


#menu-admin i{
    position: relative;
    top: 110px;
    font-size: 80px;
}

#menu-admin h3{
    position: relative;
    top: 180px;
}

#bton{
    position: relative;
    top: 170px;
    width: 100%;
    overflow: hidden;
}

.btn-admin{
    margin-top: 30px;
    height: 70px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.btn-admin:hover{
    background-color: #123D8F;
    color: #FFB84E;
}

.btn-admin:active{
    background-color: #370E89;
}

.btnadmin-active {
    background-color: #370e89;
    color: #FFB84E;
    
  }

#info-admin{
    position: relative;
    top: 50px;
    bottom: 100px;
    /* display: none; */    


}

.parent {
    display: grid;
    /* display: none; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 10px;
    margin-bottom: 100px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }

.info-cont{
    background-color: #123D8F;
    border-radius: 20px;
    box-shadow:  20px 20px #FFB84E;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.info-cont section{
    width: 170px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFB84E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.texto-bonito{
    margin: 30px;
    color: #FFB84E;
    text-shadow:
    -1px -1px 0 white, /* Sombra superior izquierda */
     1px -1px 0 white, /* Sombra superior derecha */
    -1px 1px 0 white, /* Sombra inferior izquierda */
     1px 1px 0 white; /* Sombra inferior derecha */
}

#Motoristas{
    height: 100%;
    width: 100%;
    padding: 5%;
    /* display: flex; */
    display: none;
    flex-direction: column;
}

#Motoristas img{
    height: 40px;
    width: 40px;
}

#tablas-info{
    height: 100%;
    width: 100%;
    border: #FFB84E 3px solid;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #FFFFFF ;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tablas-emp{
    height: auto;
    max-height: 600px;
    width: 100%;
    border: #FFB84E 3px solid;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #FFFFFF ;
    overflow: hidden;
    overflow: auto;
    
}

#tablas-emp > div {
    display: inline-block; /* Elementos dentro del contenedor en línea */
    vertical-align: middle; /* Alineación vertical al centro */
    width: auto; /* O ajusta según tus necesidades */
    margin: 10px; /* Ajusta el margen según tus necesidades */
}


#Empresas{
    height: 100%;
    width: 100%;
    padding: 5%;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;

}

.info-empresa{
    background-color: #d9d9d9;
    height: 500px;
    min-width: 500px;
    width: 90%;
    border: #FFB84E 3px solid;
    border-radius: 20px;
    margin-top: 50px;
    overflow: auto;
   
}

.parent-infoe {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(2, 2fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    color: black;
     
}
    
.div-e1 { 
    grid-area: 1 / 1 / 4 / 2; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #123D8F;
    text-decoration: underline;
    text-decoration-color: black   
}

.div-e1 img{
    width: 90%;
    height: fit-content;
}

.div-e2 { 
    grid-area: 1 / 2 / 2 / 4; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.div-e3 { grid-area: 2 / 2 / 4 / 3; }
.div-e4 { grid-area: 2 / 3 / 4 / 4; }

.pre-productos{
    background-color: white;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    overflow: auto;
}

.pre-productos img{
    height: 150px;
    width: 150px;
    
}

.each-pro{
    height: fit-content;
    width: 90%;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Add-empresa{
    height: 80px;
    width: 300px;
    margin: 20px;
    background: none;
    color: white;
    border: #FFB84E 7px solid;
    font-size: 20px;
    font-weight: bold;
}

#Add-empresa:hover{
    border-color: #780E89;
    color: #FFB84E;
}

#img-eadd{
    height: fit-content;
    width: 100%;
    margin-top: 250px;
}

#canva-adde{
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

#canva-adde i{
    font-size: 300px;
}

.administrar-productos-btn {
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#Ordenes{
    height: 100%;
    width: 100%;
    padding: 5%;
    /* display: flex; */
    display: none;
    flex-direction: column;

}

.nvoPedido{
    border: none;
    border-bottom:  #FFB84E 2px dotted;
    height: 300px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    color: black;
    text-align: justify;
}
.nvoPedido:hover{
    background-color: #d9d9d9;
}

.nvoPedido div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.nvoPedido img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

#tabla-productos{
    height: 100%;
    width: 100%;
    padding: 5%;
    /* display: flex; */
    display: none;
    flex-direction: column;

}

#tablas-infopro{
    height: 100%;
    width: 100%;
    border: #FFB84E 3px solid;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #FFFFFF ;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-pro{
    height: 200px;
    width: 200px;
    margin: 50px;
    z-index: 1;
}

.img-pro:hover{
    filter: grayscale(1);
}