body{
    margin: 0;
    background-image: url(assets/UI/2.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    position: absolute;
    margin: 30px;
    height: 100px;
    width: 100px;

}


.fondoR{
    position: absolute;
    margin-top: 150px;
    height: 500px;
    width: 80%;
    border: #FFB84E 3px solid;
    border-radius: 45px;
    background: linear-gradient(to bottom,#B086E4, #a8a7e3bd );
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    align-content: center;
    align-items: center;
    z-index: 999;
}

.fondoR img{
    z-index: 0;
    margin-top: 0;
    height: 140px;
    width: 100%;
}

.fondoR h2{
    font-family: pixelation, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
    z-index: 1;
    margin-top: -30px;
}

.fondoR input {
  background-color: transparent;
  border: none; 
  border-bottom: 4px solid white; 
  padding: 5px 0;
  color: white; 
  margin-top: 10px;
}

.fondoR input::placeholder {
    color: rgba(255, 255, 255, 0.737); 
}

#btn-confirmar{
    margin: 50px;
    border: none;
    background-color: #4A48BB;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 10px;
}

.img_prev{
    height: 200px;
    width: 200px;
}

svg {
    width: 100vw;
    height: 100vh;
}

/**********PRESETS************/
body.glass rect {
    opacity: .8;
}
.RGB rect{
    transition: fill 5s;
}

.RGB .yellow {
    fill: rgba(243, 239, 25, 0.7);
}

.RGB .red {
    fill: rgba(255, 0, 0, .7);
}

.RGB .blue {
    fill: rgba(0, 0, 255, .7);
}

.RGB .green {
    fill: rgba(82, 197, 16, 0.7);
}
body.particles {
    background-color: rgba(10, 10, 15, 1);
}
.maze .blocker {
    transition: fill 5s;
    fill:white;
}
.maze .base {
    fill:black;
}
.maze .solid1 {
    fill:rgb(238, 186, 17); 
}
.maze .solid2 {
    fill:cyan;
}
.maze .solid3 {
    fill:rgb(248, 171, 184);
}
.maze .solid4 {
    fill:rgb(236, 6, 6);
}

.invisible {
    display:none;
}

#controls{
    display: none;
}