body{
    margin: 0;
    background-image: url(/public/assets/UI/fondo_2.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#logo{
    width: 60px;
    height: 63px;
   padding-left: 40px;

}


.fondoR{
    height: 120vh;
    width: 95%;
    border: #FFB84E 3px solid;
    border-radius: 45px;
    background: linear-gradient(to bottom,#B086E4, #a8a7e3bd );
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    
    align-items: center;
    justify-content: space-evenly;
   
}

.fondoR img{
    z-index: 0;
    margin-top: 0;
    height: 140px;
    width: 100%;
}

.fondoR h2{
    font-family: pixelation, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
    z-index: 1;
    margin-top: -30px;
}

.fondoR input {
  background-color: transparent;
  border: none; 
  border-bottom: 4px solid white; 
  padding: 5px 0;
  color: white; 
  margin-top: 10px;
}

.fondoR input::placeholder {
    color: rgba(255, 255, 255, 0.737); 
}

#btn-confirmar{
    margin: 50px;
    border: none;
    background-color: #4A48BB;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 10px;
}
#more_info{

    width: 100vh;
    background-color:  #330590c0;
    margin-top: 100%;
    height: 50px;

}
#encabezado{
    width: 100%;
    background-color:  #330590c0;
    margin-top: 0;
    height: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;

}
@font-face {
    font-family: 'MiFuente'; /* Nombre de la fuente personalizada */
    src: url('assets/UI/pixelation/Pixelation.ttf') format('truetype'); /* Ruta al archivo de la fuente */
  }
  .contenido_pag2{

background-color: rgba(217, 217, 217, 0.719);
border-radius: 30px;

width: 95%;
display: flex;
flex-direction: row;
align-items: center; 

height: 120px;

  }
  
  .Contenedor_button{
    display: flex;
   flex-wrap: wrap;
    margin-left: 20px;
  }
  
 